.team {
  height: 100vh;
  background-color: #85a199;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  .team-container {
    .team-title {
      font-size: 32px;
      font-weight: 700;
    }
    .team-info {
      display: flex;
      flex-direction: column;
      width: 200px;
      height: 475;
      .employee {
        font-size: 24px;
        font-weight: 700;
        padding-top: 15px;
      }
      .role {
        font-size: 16px;
        font-weight: 500;
        padding-top: 10px;
      }
      .desc {
        font-size: 16px;
        padding-top: 10px;
      }
    }
  }
}
.image {
  padding-left: 35px;
  .image-border {
    background-color: whitesmoke;
  }
  img {
    width: 270px;
    padding: 10px;
  }
}
