.team {
  height: 100vh;
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .team-container {
    .team-info {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 475;
      .employee {
        font-size: 24px;
        font-weight: 700;
        padding-top: 15px;
      }
      .role {
        font-size: 16px;
        font-weight: 500;
        padding-top: 10px;
      }
      .desc {
        font-size: 16px;
        padding-top: 10px;
      }
    }
  }
}
.team-title {
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
  padding-right: 450px;
}
.image {
  padding-left: 35px;
  .image-border {
    background-color: whitesmoke;
  }
  img {
    width: 350px;
    padding: 10px;
  }
}
.team-outer-container {
  display: flex;
}
