@import url("https://p.typekit.net/p.css?s=1&k=fzf4moa&ht=tk&f=139.140.175.176.143.144.147.148.156.157.161.162&a=13260605&app=typekit&e=css");

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: #121414;
  font-family: TrueNorth-Regular;
  .highlighted-text {
    color: #759587;
    font-weight: 700;
  }
  .circle {
    margin-top: 175px;
  }
  .circle:hover {
    cursor: pointer;
    color: #759587;
  }
  .circle-con {
    display: flex;
    justify-content: center;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 250px;
    // padding-bottom: 250px;
    cursor: pointer;
  }
  .title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
  }
  .text {
    font-size: 16px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 25px;
  }
}
.person {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  .sub-title {
    font-size: 16px;
    font-weight: 700;
  }
  .human {
    font-size: 16px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 900px) {
  .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 750px) {
  .about {
    .container {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 580px) {
  .title {
    padding-left: 25px;
    padding-right: 25px;
  }
  .about {
    .text {
      font-size: 14px;
    }
    .container {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .about {
    .circle-con {
      // padding-top: 50px;
      display: none;
    }
    .title {
      font-size: 30px;
    }
  }
  .circle {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 420px) {
  .about {
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .text {
      font-size: 12px;
    }
  }
}
