.contact {
  background-color: #759587;
  color: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: TrueNorth-Regular;
  flex-direction: column;
  .circle {
    margin-bottom: 125px;
  }
  .circle:hover {
    cursor: pointer;
    color: #ebb81e;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 48px;
      font-weight: 700;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    text-align: left;
    line-height: 1.5;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    .contact-first-box {
      display: flex;
      flex-direction: column;
    }
  }
}

.sub-title {
  font-weight: 700;
}

@media only screen and (max-width: 580px) {
  .contact-info {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .contact {
    .container {
      height: 50%;
      .title {
        font-size: 30px;
      }
    }

    .circle {
      // margin-top: 50px !important;
      display: none;
    }
  }
}

@media only screen and (max-width: 420px) {
  .contact {
    .circle {
      padding-bottom: 100px;
    }
  }
}
