@import url("https://p.typekit.net/p.css?s=1&k=fzf4moa&ht=tk&f=139.140.175.176.143.144.147.148.156.157.161.162&a=13260605&app=typekit&e=css");

@font-face {
  font-family: TrueNorth-Regular;
  src: url(../../Assets/Fonts/TrueNorth-Regular.otf);
}
.navbar {
  // position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #85a199;
  font-family: TrueNorth-Regular;
  z-index: 1;
  // font-family: proxima-nova, sans-serif;
  // font-style: normal;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 35px;
}

.logoLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContainer .eagle {
  width: 115px;
}
.headerContainer .logo {
  width: 300px;
}

.links {
  display: flex;
  width: 300px;
  padding-right: 50px;
  justify-content: space-evenly;
}

.links a:hover {
  cursor: pointer;
  color: whitesmoke;
}

.links a {
  text-decoration: none;
  color: #121414;
  font-size: 20px;
  font-weight: 700;
  // padding: 25px;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    position: sticky;
  }
  .links-ham {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    a {
      padding: 5px;
    }
  }
}

@media only screen and (max-width: 948px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
    height: 50px;
    margin-right: 35px;
    svg {
      overflow: visible;
      position: relative;
      float: left;
    }
    svg {
      height: 35px;
      width: 35px;
      color: #121414;
    }
  }
}
