@import url("https://p.typekit.net/p.css?s=1&k=fzf4moa&ht=tk&f=139.140.175.176.143.144.147.148.156.157.161.162&a=13260605&app=typekit&e=css");

@font-face {
  font-family: TrueNorth-Regular;
  src: url(../../Assets/Fonts/TrueNorth-Regular.otf);
}
.navbar {
  // position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // background-color: #85a199;
  background-color: whitesmoke;
  font-family: TrueNorth-Regular;
  z-index: 1;
  // font-family: proxima-nova, sans-serif;
  // font-style: normal;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35px;
}

.logoLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContainer .eagle {
  margin-left: 200px;
}
.headerContainer .logo {
  width: 100px;
  margin-right: 200px;
}

.links {
  display: flex;
  width: 300px;
  padding-right: 50px;
  justify-content: space-evenly;
}

.links a:hover {
  cursor: pointer;
  color: #759587;
  transition: all 0.5s ease;
}

.links a {
  text-decoration: none;
  color: #121414;
  font-size: 18px;
  font-weight: 500;
  // padding: 25px;
}

.logo-container .eagle-color:hover {
  display: block;
}

// .eagle:hover {
//   display: none;
// }
.eagle-color {
  display: none;
}

.eagle-color:hover {
  color: #759587;
}

.logo:hover {
  cursor: pointer;
}

.eagle {
  cursor: pointer;
}

.hamburger {
  display: none;
}
.eagle {
  width: 200px;
}

.swipe-menu {
  background-color: #bababab3;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    position: sticky;
  }
  .links-ham {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    a {
      padding: 5px;
    }
  }
  .logo {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 948px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
    height: 50px;
    margin-right: 35px;
    svg {
      overflow: visible;
      position: relative;
      float: left;
    }
    svg {
      height: 35px;
      width: 35px;
      color: #121414;
    }
  }
  .eagle {
    padding-right: 100px;
  }
  .logo {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 580px) {
  .navbar {
    display: flex;
  }
  .headerContainer {
    padding-left: 10px;

    .logo {
      // padding-right: 50px;
      display: none;
    }
    .eagle {
      width: 60px;
    }
  }
}
@media only screen and (max-width: 320px) {
  .navbar {
    height: 50px;

    .headerContainer {
      padding-left: 10px;

      .logo {
        width: 100px;
      }
      .eagle {
        width: 40px !important;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .eagle {
    width: 50%;
  }
}

@media only screen and (max-width: 260px) {
  .headerContainer {
    .logo {
      display: none;
    }
    .eagle {
      display: block;
    }
  }
}
