.footer {
  height: 100px;
  width: 100%;
  bottom: 0;
  // background-color: #121414;
  background-color: rgb(46, 46, 46);
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.location-info {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 35px;
  text-align: left;
  line-height: 1.3;
  display: none;
}

.city {
  font-size: 24px;
  font-weight: 700;
}

.email {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: proxima-nova, sans-serif;
  padding-top: 10px;
}
.email:hover {
  color: #ebb81e;
  transition: all 0.5s ease;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  display: none;
  a {
    color: whitesmoke;
  }
}

.socials {
  width: 150px;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  text-align: left;
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
  }
}

.pageLinks {
  width: 150px;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  text-align: left;
  display: none;
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
  }
}

.pageLinks a:hover {
  cursor: pointer;
  color: #ebb81e;
  transition: all 0.5s ease;
}

.socials a:hover {
  cursor: pointer;
  color: #ebb81e;
  transition: all 0.5s ease;
}

.outer-link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: flex-start;
}

.trademark {
  color: rgb(231, 231, 231);
  font-size: 14px;
  padding-bottom: 5px;
}

.logo-info-con {
  display: flex;
}

.eagle-logo {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 580px) {
  .outer-link-container {
  }
  .footer {
    flex-direction: column;
    height: 100%;
    .linkContainer {
      flex-direction: column;
      padding-left: 50px;
    }
    .trademark {
      font-size: 8px;
      display: flex;
      justify-content: center;
    }
  }
}
