.App {
  /* background-color: #85a199; */
  @font-face {
    font-family: "chicagoflfregular";
    src: local("TrueNorth-Regular") format("otf"),
      url("./Assets/Fonts/TrueNorth-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #759587;
  filter: drop-shadow(10px 5px 4px #121414);
  transform-origin: 0%;
}
