.App {
  /* background-color: #85a199; */
  @font-face {
    font-family: "chicagoflfregular";
    src: local("TrueNorth-Regular") format("otf"),
      url("./Assets/Fonts/TrueNorth-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }
  font-family: Arial, Helvetica, sans-serif;
}
